# Build results
bin/
obj/
*.dll
*.exe

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code directory
.vscode/

# Visual Studio cache files
.vs/
.v17/
slnx.sqlite
.vsconfig
*.dbmdl
*.pdb
*.cache

# Others
*.log
*.DS_Store
Thumbs.db
